.SquarejobCardWrapper {
  border: 1px solid #eeeeee;
  padding: 3rem;
  max-width: 30rem;
}

.headWrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.JobDetails {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  margin-top: 2rem;
}

.JobDetails > h3 {
  font-size: 2rem;
}

.JobDetails > div {
  display: flex;
  color: #6c6c6c;
  font-size: 1.5rem;
}

.JobDetails > p {
  color: #949494;
  font-size: 1.5rem;
}

.numberofJobs {
  display: inline-block;

  background-color: rgb(240, 212, 240);
  color: purple;
  padding: 1rem;
  border-radius: 1rem;
}
