.Searchformwrapper {
  display: flex;
  padding: 1rem;
  width: 45%;
  background-color: white;
  justify-content: space-between;
  border-radius: 0.5rem;
  margin: 2rem 0rem;
  gap: 2rem;
  align-items: center;
}

.Searchformwrapper img {
  display: inline-block;
}

input,
select {
  display: inline-block;
  border: none;
  width: 18rem;
  border-bottom: 1px solid gray;
  height: 3rem;
  font-size: 1.6rem;
}

input,
select::placeholder {
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}
