.RectjobCardWrapper {
  border: 1px solid #eeeeee;
  padding: 2rem;
  width: 60rem;
  display: flex;
  padding-left: 5rem;
}

.RectjobCardWrapper > img {
  display: inline-block;
  margin: 0.5rem 2rem 1rem 2rem;
}

.ReactJobDetailsWrapper {
  display: inline-block;
}

.ReactJobDetailsWrapper > h3 {
  font-size: 2rem;
}

.ReactJobDetailsWrapper > div {
  display: flex;
  color: #6c6c6c;
  font-size: 1.2rem;
}

.PillsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.PillsWrapper > hr {
  margin-top: 0.8rem;
  margin-right: 0.8rem;
  height: 2.5rem;
  border: 0.2px solid #eeeeee;
}
