.RectjobCardWrapper {
  border: 1px solid #9b9090;
  padding: 1rem;
  width: 50rem;
  display: flex;
  padding-left: 5rem;
  justify-content: space-between;
  align-items: center;
}

.RectjobCardWrapper > img {
  display: inline-block;
  margin: 0.5rem 2rem 1rem 0.5rem;
}

.JobDetailscompanyLogo {
  position: relative;
  display: inline-block;
  top: 5rem;
  left: -5rem;
}

.ReactJobDetailsWrapper {
  display: inline-block;
  margin-left: 5rem;
  margin-top: -3rem;
}

.ReactJobDetailsWrapper > h3 {
  font-size: 2rem;
}

.ReactJobDetailsWrapper > div {
  display: flex;
  color: #6c6c6c;
  font-size: 1.2rem;
}

.PillsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.PillsWrapper > hr {
  margin-top: 0.8rem;
  margin-right: 0.8rem;
  height: 2.5rem;
  border: 0.2px solid #a8a3a3;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
