.findjobsWrapper {
  background: rgb(128, 215, 216);
  background: radial-gradient(
    circle,
    rgb(149, 228, 230) 0%,
    rgba(252, 241, 218, 1) 98%
  );
}

.findjobsWrapper h1 {
  font-size: 5rem;
}

.findjobsWrapper h1::after {
  content: " dream job";
  color: #26a4ff;
}

.findjobsWrapper h1 + p {
  font-size: 2rem;
  color: #4d4e54;
}

.allJobsWrapper {
  background-color: white;
  margin: 5rem 8rem;
  display: flex;
  justify-content: start;
}

.optionsSection {
  flex-basis: 20%;
}

/* Job List Section */

.AllJobListSectionWrapper {
  flex-basis: 80%;
}

.AllJobListSectionWrapper > div:nth-child(2) {
  margin: 3rem;
}

.AllJobListSection {
  display: flex;
  justify-content: space-between;
  flex-basis: 90%;
}

.AllJobListSection > div + div > div {
  display: inline-block;
  margin: 0rem 1rem;
  cursor: pointer;
  font-size: 1.6rem;
}

.AllJobListSection > div + div > select {
  font-size: 1.6rem;
  width: auto;
}

.AllJobListSection > div > h1 {
  font-size: 2.5rem;
}

.AllJobListSection > div > p,
.AllJobListSection > div > label {
  font-size: 1.6rem;
  color: #9a9ca0;
}
