.SearchSectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0rem 8rem;
}

.popularTag {
  font-size: 1.6rem;
  color: #1e1f29;
  margin: 0rem 8rem;
}
