@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap");

.heroSectionWrapper {
  background: rgb(34, 193, 195);
  background: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 0%,
    rgba(252, 241, 218, 1) 98%
  );
  height: 60vh;
  border-radius: 2rem;
  padding: 5rem;
}

.heroSectionWrapper > h1 {
  font-size: 5rem;
}
.heroSectionWrapper > h2 {
  font-family: "Caveat", cursive;
  font-size: 5rem;
}
.heroSectionWrapper > h2 + p {
  font-size: 1.5rem;
  color: #052675;
  width: 32%;
}

form + p {
  color: #72747e;
  font-size: 1.5rem;
}

.comaniesLogoWrapper {
  margin-bottom: 5rem;
}

.comaniesLogoWrapper > p {
  font-size: 2rem;
  color: #bcbdc1;
}

.comaniesLogoWrapper > div {
  display: flex;
  justify-content: space-between;
}

.headingWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionHeader {
  font-family: "Prompt";
  font-size: 4rem;
}

.sectionHeader::after {
  content: " category";
  color: #26a4ff;
}
.headingWrapper > p {
  font-size: 1.5rem;
  color: rgb(25, 25, 229);
  font-weight: 600;
}

.headingWrapper + div {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.exploreCatagoriesSection {
  margin-bottom: 5rem;
}
