.searchCompanySection {
  background: rgb(128, 215, 216);
  background: radial-gradient(
    circle,
    rgb(149, 228, 230) 0%,
    rgba(252, 241, 218, 1) 98%
  );
}

.searchCompanySection h1 {
  font-size: 4rem;
}

.searchCompanySection h1::after {
  content: " dream companies";
  color: #26a4ff;
}

.searchCompanySection h1 + p {
  font-size: 2rem;
  color: #4d4e54;
}

.recomendedCompanies {
  padding: 5rem;
}

.recomendedCompanies > h1 {
  font-size: 3rem;
}
.recomendedCompanies > p {
  font-size: 1.6rem;
  color: #4d4e54;
}
.recomendedCompanies > div {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  margin: 5rem 0rem;
}

.catagorycarasoul {
  background-color: #4640de;
  height: 20rem;
  padding: 3rem;
  font-size: 2rem;
  color: white;
}

.catagorycarasoulSelected {
  background-color: rgb(225, 128, 128);
  height: 20rem;
  padding: 3rem;
  font-size: 2rem;
  color: #4640de;
}

.catagorycarasoul > img {
  width: 5rem;
  height: 5rem;
  color: red;
}

.catagorycarasoulSelected > img {
  width: 5rem;
  height: 5rem;
  color: red;
}

.CompaniesByCatagory {
  padding: 0rem 5rem;
}

.CompaniesByCatagory > h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.slick-prev:before {
  color: red;
}
.companyResultsWrapper {
  padding: 0rem 5rem;
}

.companyResultsWrapper div:first-child {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

.companyResultsWrapper div:first-child > p {
  font-size: 3rem;
  font-weight: 600;
}

.companiesCard > h2 {
  font-size: 3rem;
}

.companiesCard {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 2rem;
  width: 30rem;
}
.companyResultsWrapper > p {
  color: #052675;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 3rem 0rem;
}
.companiesCardWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  flex-wrap: wrap;
  margin: 1rem 0rem;
}
