.filterDropDownWrapper {
  width: auto;
}
.dropDownHead {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 2rem;
}

.dropDownHead div {
  font-size: 2.5rem;
  cursor: pointer;
}

.checkboxListWrap {
  padding: 0;
}

.checkboXinput {
  width: 2rem;
  margin-right: 2rem;
}
.checkboXlable {
  font-size: 1.6rem;
  position: relative;
  bottom: 0.7rem;
  color: #798090;
}
